*.tcl
*.xco
*.asy
*.ncf
*.xise
*.veo
*.gise
*.sym
*.prj
*.fdo
*.udo
*.exe
*.ndo
*.wdb
*.lso
*.bmm
*.stx
*.xst
*.bld
*.grf
*.html
*.xml
*.xrpt
*.ngc
*.txt
*.nlf
*.log
*.cmd
*.cmd_log
*.cpj
*.ncd
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xdl
*.xpi
*.debug
*.xwbt
*.blc
*.map
*.mrp
*.ngm
*.psr
*.csv
*.version
*.xsl
*.cfg
*.xmsgs
*.xsl
*.sh
*.bat
*.do
*.key
*.cgp
*.bit
*.drc
*.ini
*.bgn